@import "boxicons/css/boxicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    select.select:focus {
      @apply outline-none ring-0 border-primary;
    }
  }

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.bx {
    font-size: 1.2rem;
}
